// SPDX-FileCopyrightText: 2021 Carl Schwan <carlschwan@kde.org>
// SPDX-License-Identifier: LGPL-2.1-or-later

#kHeader {
  width: 100%;
  height: 400px;
  background-image: url(/assets/img/banner_blue_2500.webp);
  background-position: center;
  background-size: cover;

  h1 {
    font-size: 1.8em;
    font-weight: bold;
  }

  .carousel-inner {
    width: 100%;
    height: 100%;
  }

  .carousel-item {
    color: #EEE;
    width: 100%;
    height: 100%;
  }

  .carousel .carousel-item {
      padding: 0;
  }

  .carousel-item-content {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column-reverse;
    margin: auto;

    @media(min-width: 768px) {
      flex-direction: row;
      align-items: center;
      height: 100%;
    }
    @media(min-width: 1100px) {
      max-width: 1140px;
      width: 100%;
    }
  }

  .slide-background {
    width: 100%;
    flex-grow: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    @media(min-width: 768px) {
        flex: 2 1 auto;
        height: 100%;
    }
  }

  .carousel-text-overlay {
    flex-shrink: 2;
    text-align: center;
    margin: auto;
    width: 100%;
    padding: 30px 0 10px 0;
    color: #FFF;

    h1 {
      font-size: 1.2em;

      @media(min-width: 1100px) {
          margin-bottom: 16px;
      }
    }

    p {
        line-height: 1.4em;
    }

    @media(min-width: 768px) {
      flex: 1 3 auto;
      position: unset;
      border: none;
      background: none;
      text-align: left;
      color: #FFF;
      font-size: 1em;
      padding: 0 10px 0 15px;
    }
    @media(min-width: 1100px) {
      font-size: 1.3em;
      padding: 0 40px 0 15px;
    }
  }

  .learn-more {
      color: #54a3d8;
  }

  @media(min-width: 768px) {
      height: 500px;
  }
  @media(min-width: 1100px) {
      height: 700px;
  }
}

.slide-background {
  /* background-image: url(/assets/img/screenshot.png);
  @media (prefers-color-scheme: dark) {
    background-image: url(/assets/img/screenshot_dark.png);
  }*/
}
.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.feature > div:first-child {
  flex-basis: 80%;
}

.feature > div:last-child {
  flex-basis: 25%;
}

@media (min-width: 800px) {
  .feature {
    flex-direction: row;
  }
  .feature:nth-child(2n + 1) > div:first-child {
    order: 1;
  }
  .feature:nth-child(2n + 1) > div:last-child {
    order: 0;
  }
  .feature:nth-child(2n + 1) > picture:last-child {
    padding-right: 20px;
  }
  .feature:nth-child(2n) > div:first-child {
    padding-right: 20px;
  }
}
.dark-light{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px 0;
}
.dark-light h2{
  margin: 25px;
}

#plasma {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(https://kde.org/announcements/plasma/5/5.23.0/patak.webp);
  background-position: center center;
  background-size: cover;
  color: white;
  padding: 20px;
}

.breeze-window {
  max-width: 600px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.breeze-window .kwin-shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.75);
  border-radius: 5px;
}

.breeze-window .headerbar {
  background-image: linear-gradient(to bottom, #545f67, #475057);
  color: white;
  text-align: center;
  padding: 10px;
  height: 30px;
  line-height: 12px;
  width: 100%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  position: relative;
}

.breeze-window .headerbar img {
  width: 22px;
  height: 22px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 4px;
  border-width: 0;
}

.breeze-window img.window-close {
  right: 4px;
}

.breeze-window img.window-maximize {
  right: 30px;
  top: 7px;
  width: 16px;
  height: 16px;
}

.breeze-window img.window-minimize {
  top: 7px;
  width: 16px;
  height: 16px;
  right: 52px;
}

.breeze-window .view {
  padding: 10px;
  color: #000;
  width: 100%;
  background-color: #eff0f1;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.breeze-window .view h2 {
  font-size: 20px;
  margin-top: 10px;
  color: #000 !important;
}

.breeze-window .view a {
  color: #015c9d;
}

/* Feature tabs */
.tab-content-feature {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.nav-features {
  margin-top: 10px;
}

.nav-features .nav-link {
  border-top: 3px solid rgba(77, 77, 77, 0.8);
  margin-left: 1px;
  margin-right: 1px;
}

.nav-features .nav-link.active {
  border-top: 3px solid rgba(61, 174, 233, 0.8);
}

@media (prefers-color-scheme:dark) {
  .timeline img {
    filter: invert(1);
  }
  .contribute h2, .contribute p {
    color: black !important;
  }
}


